.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%; /* Set the height of the container to full viewport height */
    width: 95%;
  }
  
  .upload form {
    margin-top: 20px; /* Add some margin between the file input and the button */
  }
  
  .upload img {
    margin-bottom: 20px; /* Add some margin below the image */
  }
  